@*@model IEnumerable<LabAVL_1170919.Models.MedicineModel>*@
@model PagedList.IPagedList<LabAVL_1170919.Models.MedicineModel>

@{
    ViewBag.Title = "Medicines List";
}

<h2>Medicines List</h2>

<div>
    <h5><strong>Tree Pathing</strong></h5>
    @Html.ActionLink("InOrder (Alphabetical)", "ShowMedList", new { pathing = 1 }) |
    @Html.ActionLink("PreOrder", "ShowMedList", new { pathing = 2 }) |
    @Html.ActionLink("PostOrder", "ShowMedList", new { pathing = 3 })
</div>

<h5><strong>Medicine Search</strong></h5>
<p>Please enter the name of the medicine you are looking for and press "Search"</p>
@using(Html.BeginForm("ShowMedList", "Medicine", FormMethod.Get)) {

 @Html.TextBox("search") <input type = "submit"  
    name = "submit"  
    value = "Search"/>  
}

<table class="table" style="width:100%">
    <tr>
        <th style="width:20%">
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th style="width:25%">
            @Html.DisplayNameFor(model => model.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Producer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Stock)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer)
            </td>
            <td>
                Q @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.ActionLink("Add to Cart", "AddToCart", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount

    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("<<", "ShowMedList", new { page = 1 })
        @Html.Raw(" ");
        @Html.ActionLink("< Prev", "ShowMedList", new { page = Model.PageNumber - 1 })
    }
    else
    {
        @:<<
        @Html.Raw(" ");
        @:< Prev
    }

    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Next >", "ShowMedList", new { page = Model.PageNumber + 1 })
        @Html.Raw(" ");
        @Html.ActionLink(">>", "ShowMedList", new { page = Model.PageCount })
    }
    else
    {
        @:Next >
        @Html.Raw("")
        @:>>
    }
</div>