@*@model IEnumerable<LabAVL_1170919.Models.TreeMedicine>*@
@model PagedList.IPagedList<LabAVL_1170919.Models.TreeMedicine>

@{
    ViewBag.Title = "ShowMedList";
}

<h2>ShowMedList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount

    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("<<", "ShowMedList", new { page = 1})
        @Html.Raw(" ");
        @Html.ActionLink("< Prev", "ShowMedList", new { page = Model.PageNumber - 1})
    }
    else
    {
        @:<<
        @Html.Raw(" ");
        @:< Prev
    }

    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Next >", "ShowMedList", new { page = Model.PageNumber + 1})
        @Html.Raw(" ");
        @Html.ActionLink(">>", "ShowMedList", new { page = Model.PageCount })
    }
    else
    {
        @:Next >
        @Html.Raw("")
        @:>>
    }
</div>